# Ambiente virtual Python
.venv/
venv/

# Cache do Python
__pycache__/
*.py[cod]

# Variáveis de ambiente
.env

# VS Code
.vscode/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/